<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <li>
      ID: <%= id %>, Name: <%= firstName %> <%= lastName %>
      email: <%= email %> age: <%= age %> bio: <%= bio %>
    </li>
  </body>
</html>
